
.widget-wrapper .widget  {
    text-align: center;
}

.widget-wrapper .widget a {
    font-size: 20px;
}
.widget-wrapper .widget img {
    width: 50px;
    height: 50px;
}
.widget-wrapper .widget p:first-child {
    margin: 0;
    padding: 0;
}
.widget-wrapper .widget p:last-child {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
}

.widget-wrapper .widget > div:nth-child(2), .widget-wrapper .widget > div:last-child {
    display: flex;
    text-align: center;
}

.widget-wrapper .widget > div:nth-child(2) div:hover, .widget-wrapper .widget > div:last-child div:hover {
    background-color: #0659d4;
    color: #ffffff !important;
}

.widget-wrapper .widget > div:nth-child(2) a, .widget-wrapper .widget > div:last-child a{
    color: #000000;
}

.widgets-wrapper .widget > div:nth-child(2) h2 a:hover, .widgets-wrapper .widget > div:last-child h2 a:hover{
    color: #ffffff !important;
    text-decoration: none;
}

.widgets-wrapper .widget > div:nth-child(2) div:first-child h2 {
  content: url('../../icons/search.svg');
  vertical-align: middle; /* Optional: aligns image with text */
  margin-right: 10px
}
